.header-studio{
    border-bottom: 1px solid #ECECEC;
    height: 60px;

    @media screen and (min-width:$desktop) {
        height: 80px;
        
    }
  
}
    
 .header{
     display: flex;
     align-items: center;
     
     
 }
 .contact{
    font-style: normal;
}
 
 