.header-studio{
border-bottom: 1px solid #ECECEC;
    }
 
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

@media screen and (min-width:$tablet) {
 height: 80px;
}

@media screen and (min-width:$desktop) {
height: 80px;
align-items: baseline;
} 
  }
 
.burger-menu:hover,
.burger-menu:focus {
 color: #2196F3;
background-color:#FFFF;
}

.burger-menu:hover{
fill: currentColor;
 }

 
 