.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height:calc(28 / 24);
    letter-spacing: 0.03em;
    color:var(--logo-color);
    padding-top: 16px;
    padding-bottom: 16px;
    

    @media screen and (min-width:1200px) {
    font-size: 26px;
    line-height:calc(31 / 26);
    }
    }
    .logo__first-part{
    color:var(--accent-color);
    }

    // footer logo

.logo__first-part,.logo__last-part--last{
font-family: 'Raleway';
}

.logo__last-part--last{
color:var(--text-color)
}

.logo-footer{
display: inline-block;
font-family: 'Raleway';
font-weight: 700;
font-size: 24px;
line-height:calc(28 / 24);
letter-spacing: 0.03em;
color:var(--logo-color);
margin-bottom: 20px;


@media screen and(min-width:$desktop) {
font-size: 26px;
line-height: 1,19;
}
}
            