.work {  padding-bottom: 94px;
    
    @media screen and (max-width:1199px) {
        display: none;
    }
}
.points{
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-list{
    display: flex;

}