:root {
    --accent-color:#2196F3;
    --main-color:#757575;
    --name-color:#212121;
    --background-color:#C4C4C4;
    --logo-color:#000000;
    --active-color:#188CE8;
    --text-color:#FFFFFF;
    --section-color:#F5F4FA;
    --footer-color:#2F303A;
}

// BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;